<div class="app-body-company">
    
    <div class="fixed-navbar-links">
        <nav class="navbar navbar-default" style="margin-bottom: 0 !important">
            <div class="container-fluid">
                <ul class="nav navbar-nav innerCategories">
                    <li class="active"><a href="#main-tab" class="scrollLink">Top</a></li>
                    <li><a href="#charts"  class="scrollLink">Charts</a></li>
                    <li>
                        <a href="#section3" class="scrollLink">Section3</a>
                    </li>
                    <li>
                        <a href="#section4" class="scrollLink">Section4</a>
                    </li>
                    <li>
                        <a href="#section5" class="scrollLink">Section5</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="companyNameId">
            <h3 class="company-heading">Company Name</h3>
        </div>
    </div>

    <div class="company-details-parent">
        <div id="main-tab" class="company-details-child1">
            <!--  <div style="width: 32%; border: 1px solid green; display: inline-block;"></div>
            <div style="width: 32%; border: 1px solid green; left: 1.5%; position: relative; display: inline-block;"></div>
            <div style="width: 32%; border: 1px solid green; left: 3%; position: relative; display: inline-block;"></div> -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
                <!-- <input type="text" name="input1"> -->
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xl-4">
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
                <div class="companyProfileDetails">
                    <label style="font-weight: normal">Label1:</label>
                    <strong><span>Name1</span></strong>
                    <br>
                </div>
            </div>
        </div>
        <div id="charts" class="company-details-child2">
            <!-- <input type="number" name="trail" ng-model="vm.valueTrial">  -->
            You are on chart page
            <div class="filter1">
                <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changeFilter(item, filterobj)"></dropdown-list>
            </div>
            <!-- <highchart id="chart1" config="vm.chartConfig"></highchart> -->
            <!-- {{vm.chartConfig}} Main chart config -->
            <hicharts chartoptions="vm.chartConfig"></hicharts>
        </div>
        <div id="section3" class="company-details-child3">
            <!-- You are on section3 page -->
            <div class="company-pros-cons-container">
                <div class="company-pros-cons"> Pros</div>
                <div class="info-list">
                    <ul class="unstyled-list">
                        <li style="padding: 5px"> Item 1</li>
                        <li style="padding: 5px"> Item 2</li>
                        <li style="padding: 5px"> Item 3</li>
                        <li style="padding: 5px"> Item 4</li>
                    </ul>
                </div>
            </div>
            <div class="company-pros-cons-container">
                <div class="company-pros-cons"> Cons</div>
                <div class="info-list">
                    <ul class="unstyled-list">
                        <li style="padding: 5px"> Item 1</li>
                        <li style="padding: 5px"> Item 2</li>
                        <li style="padding: 5px"> Item 3</li>
                        <li style="padding: 5px"> Item 4</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div id="section4" class="company-details-child4">
            <!-- <input type="number" name="trail" ng-model="vm.valueTrial">  -->
            You are on section4 page
            
        </div>
        <div id="section5" class="company-details-child5">
            <!-- <input type="number" name="trail" ng-model="vm.valueTrial">  -->
            You are on section5 page
            
        </div>
    </div>
    You are on appCompany page Enter search here
</div>