<div class="container">
    <div class="form-inline">
        <div class="form-group" style="margin-right:20px">
            <label for="companyValue">company</label>
            <input type="text" style="width:200px" class="form-control" ng-model="newObj.company" name="companyValue">
        </div>
        <div class="form-group" style="margin-right:20px">
            <label for="cityValue">City</label>
            <input type="text" style="width:200px" class="form-control" ng-model="newObj.city" name="cityValue">
        </div>
        <div class="form-group" style="margin-right:20px">
            <label for="priceValue">Price</label>
            <input type="text" style="width:200px" class="form-control" ng-model="newObj.price" name="priceValue">
        </div>
        <div class="form-group" style="margin-right:20px">
            <button class="btn btn-primary" ng-click="saveDetails(newObj)">Save</button>
            <button ng-click="Delete($event)" class="btn btn-danger">
   Cancel</button>
        </div>
    </div>
    <br/>
</div>
