<!-- <input ng-model="vm.personSelected" /> -->
 
    <div id="parentHome" style="position: relative; top: 220px; left: 35%; width: 600px"> 
<ui-select ng-model="vm.myC.companies.selected" theme="bootstrap" style="width: 480px; float:left" title="Choose a person">
                            <ui-select-match placeholder="Select a company..." class="parent-select" >{{$select.selected.formatted_address}}</ui-select-match>
                            <ui-select-choices repeat="company in vm.companyList1 track by $index"  refresh="vm.refreshCompanies1($select.search)" refresh-delay="0">
                                <div ng-if="address.isTag" ng-bind-html="'<small>(new)</small>'"></div>
                                <div style="width:400px; padding: 3px 3px"  ng-class="{'uiSelectClass':hovering}"
                                ng-mouseenter="hovering=true"
                                ng-mouseleave="hovering=false">
                                    {{company.formatted_address}} 
                                    
                                </div>
                            </ui-select-choices>
                        </ui-select>

<div style="display: inline-block; position: relative; top: 0px; font-size: 25px; width: 50px; height: 45px; left: 1px; border: 1px; background-color: cornflowerblue; border-radius: 5px">
      <i class="fa fa-search" style="position: relative; top: 8px; left: 12px"></i>
      </div>

    </div> 
