
<!-- <div> -->
<div class="stocklist-details-container">
    <div class="stocklist-details-grid-container" ui-grid="vm.gridOptions"></div>

    <div class="stocklist-filters-container">
        <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changeFilter(item, filterobj)" >
        </dropdown-list>
        <br/>
        <br/>
        <button class="btn btn-primary" ng-click="vm.updateForm()">Submit</button>
    </div>
</div>

    <!-- </div> -->

<!-- </div> -->
<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>City</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in vm.mylist track by $index">
            <th scope="row">3</th>
            <td>{{ x }}</td>
             <td>{{ x.city }}</td>
            <td>{{ x.price }}</td>
            <td>
              <button class="btn btn-primary" ng-click="vm.addToWatchList(x)">Add to watchList</button>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<br /> -->
<!-- <button class="btn btn-primary" ng-click="vm.addToWatchList()">Add to watchList</button> -->
<!-- <div id="addNewDiv" class="col-sm-10">

</div> -->
