.stocklist-details-container {
	position: relative;
	top: 100px;
}

.stocklist-details-grid-container {
	width: 96%;
	height:500px;
	margin-left: 50px;
}

.stocklist-filters-container {
	width:96%;
	height: 200px;
	border: 1px solid grey;
	margin-top: 20px;
	margin-left: 47px;
}