<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style type="text/css">
        body {
            text-align: center;
            background-color: ivory;
        }

        label {
            width: 150px;
        }

        .form-control {
            display: inline;
            width: 200px;
        }

        .parent-element {
            position: relative;
            top: 100px;
        }
    </style>
     
</head>

<body>
    <div class="parent-element">
        <h3>Password confirmation!</h3>
        <br/>
        <form>
           <!-- <label for="newPassword">New Password</label>
            <input type="text" name="newPassword" id="newPassword" required>
            <label for="verifyPassword">Confirm Password</label>
            <input type="text" name="verifyPassword" id="verifyPassword" required> -->
            <!-- <input type="submit" name="submit" id="resetPasswordClickEvt" value="Reset Password"> -->

            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
                <input type="text" name="newPassword" id="newPassword" class="form-control" placeholder="New password" required>
            </div>
            <div class="form-group">
                <label for="verifyPassword">Confirm Password:</label>
                <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"> -->
                <input type="text" name="verifyPassword" id="verifyPassword" class="form-control" placeholder="Confirm password" required>
            </div>

            <button type="submit" class="btn btn-primary" id="resetPasswordClickEvt">Submit</button>
    
        </form>
    </div>
    <script type="text/javascript">
        var resetPasswordClickEvt = document.getElementById('resetPasswordClickEvt');
        resetPasswordClickEvt.addEventListener('click', resetPasswordClicked);
        function resetPasswordClicked(event) {
            event.preventDefault();
            var token = document.location.href.split('token=')[1];
            var data = "newPassword=" + document.getElementById('newPassword').value + '&verifyPassword=' + document.getElementById('verifyPassword').value + '&token=' + token;
            ajaxCall(data, "http://localhost:2020/auth/reset_password", function(status, response) {
                if (status == 200) {
                    // alert('successfully sent');
                } else {
                    alert('Error', status)
                }
            });
        }
        function ajaxCall(data, url, callback) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", url, true);
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if(xhttp.response) {
                        return callback(this.status, JSON.parse(xhttp.response));
                    }
                }
            }
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(data);
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>