<!-- <input ng-model="vm.personSelected" /> -->
<div style="width:99%; height: 200px; border: 1px solid grey">
  <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <dropdown-list filterlist="vm.filter1.people" filterobj="vm.filter1" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <dropdown-list filterlist="vm.filter2.people" filterobj="vm.filter2" updatefilter="vm.changePerson(item, filterobj)" ></dropdown-list>
  <br/>
  </br/>
  <button class="btn btn-primary" ng-click="vm.updateForm()">Submit</button>
</div>
